<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body>
    <div class="body">
      <div class="container">
        <div class="header">
          <img
            src="https://www.yourbuzzz.com/images/logo-with-text.png"
            alt="Logo"
            title="Logo"
            style="display: inline"
            width="100%"
            height="60"
          />
        </div>
        <div class="contents">
          <p>Hello there!!!,</p>
          <p>
            Good news! You have just recieved a surpise gift 🎁 from
            {{gifter}}🥳.
          </p>
          <p><span class="bold">Gift Code</span>: {{giftCode}}</p>
          <p>Click on the link below to check it out</p>
          <p>{{giftPreviewLink}}</p>
          <p>Cheers,</p>
          <p>The Buzzz Team🐝</p>
        </div>
        <div class="footer">
          You received this email because you are registered with Buzzz. This
          email was sent to {{email}}. If you no longer wish to receive these
          emails you may unsubscribe at any time.
          <br /><br />
          &copy; 2023 Buzzz. All rights reserved.
        </div>
      </div>
    </div>
  </body>
  <style>
    * {
      font-family: 'Aeonik', sans-serif;
      line-height: 25px;
    }
    .body {
      background-color: #f1edfd;
    }
    .container {
      height: 100%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 30px 15px;
    }
    .header {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    .header img {
      object-fit: contain;
    }
    .bold {
      font-weight: bold;
    }
    .contents {
      background-color: white;
      padding: 20px 20px;
      border-top: 3px solid #7047eb;
      border-bottom: 3px solid #c6b5f7;
    }
    .footer {
      width: 100%;
      margin: 0 auto;
      margin-top: 30px;
      text-align: center;
      color: #6c757d;
    }
    @media (min-width: 552px) {
      .contents {
        padding: 20px 100px;
      }
      .footer {
        width: 80%;
      }
    }
  </style>
</html>
